# Ignorar la carpeta de Symfony
var/
vendor/
.env
.env.local
.env.*.local

# Ignorar archivos de configuración de IDEs
/.idea/
/.vscode

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
